#home_carousel {
	/*margin-top: 5vh;*/
}

.home_images {
	width: 100%;
	max-width: 100%;
	height: auto;
}

#home_images {
	margin-top: 5vh;
}

.border_test {
	border: 1px solid red;
}

.page-footer {
	background-color: lightgreen;
}

#austria {
	height: 40px;
	width: auto;
	border-radius: 50%;
	border: 2px solid white;
}

#contact-map {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.navbar-custom {
	background-color: lightgrey;
	border-color: black;
}

/*.separator {
	width: 5px;
	height:100%;
	background-color: black;
}*/

.navbar {
	margin-bottom:3vh;
}

#mission {
	/*background-color: yellow;*/
	/*border: 1px solid black;*/
	/*padding: 5px;*/
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(255,255,255,0.3);
}

#vision {
	/*background-color: orange;*/
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
	/*border: 1px solid black;*/
	background-color: rgba(255,255,255,0.3);
}

body, html {
	height: 100%;
}

.back {
	background-image: url(../images/opm.png);
}

/*.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}*/

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

#pokeball {
	width: 100px;
	height: 100px;
}

.navbar-nav {
	align-items: center;
	width: 100%;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.left {
	display: flex;
	justify-content: flex-start;
}