* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
 font-family: 'Cardo', serif;
}

hr {
	size: 30px;
}



h3 {
  font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

/*h1, h2, h3, h4, h5, h6 {
 font-family: 'Special Elite', cursive !important;
}
*/
/*Header portion start*/

.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}


/* Form which you dont need */
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg);
}

.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

input.user-password{
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}



/**/
.bgimg1 {
	/*background-image: url(/home/aleisley/Documents/tuitt/capstone-1/assets/images/anime_wallpaper.jpg);*/
	background-image: url(../images/opm.png);
	position: relative;
	/*width: 100%;*/
}

.bgimg2 {
	background-image: url(/home/aleisley/Documents/tuitt/capstone-1/assets/images/opm-hi.jpg);
	position: relative;
	height: 30vh;
}

.parallax {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.box {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}

.borders {
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: 30px;
	letter-spacing: 10px;
	/*font-size: 10vh;*/
	font-family: "Special Elite";
}

.borders-mission {
	background-color: rgba(178,136,30,0.8);
	color: white;
	padding: 30px;
	letter-spacing: 10px;
	/*font-size: 1vw;*/
}
/*Header portion end*/

/*Nav portion start*/
.navbar {
	padding:0 !important;
}

.navbar a {
	font-size: 1.2em;
	color: white;
}

nav .font-awesome {
	margin: 0 1vh 0 1vh;
}

#homeIcon {
	color: lightgreen;
}

#aboutIcon {
	color: lightblue;
}

#cameraIcon {
	color: grey;
}

#mailIcon {
	color: violet;
}

nav a:hover {
	background: yellow;
}

.ident {
	display: inline-block;
}

#onePunch {
	width: 6vh;
	height: auto;
	position: absolute;
	top: -0.8vh;
	z-index: 10;
}

.navbar-custom {
	color: white;
	padding: 15px;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  	background-color: rgba(255,202,68,0.9);
}

/*Nav portion end*/

/*Carousel portion start*/
.carousel-control-prev:hover, .carousel-control-next:hover {
	/*background-color: rgba(0,0,0,0.2);*/
	/*background-color: rgba(255,202,68,0.9);*/
	/*background-color: orange;*/
}
/*Carousel portion end*/


/*Images start*/
.home_images {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-top: 5vh;
}
/*Images end*/


/*Start of gallery.html*/

.gallery-images {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.modal-backdrop {
	position: unset !important; /*This is used for modals and sticky-top*/
}

/*.modal-dialog {
	width: 100% !important;
	height: auto;
	max-width: 100%;
}*/

.modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}


.modal.open {
   display: block;
}

.mission-vision {
	text-align: center;
}

/*.t-left {
	text-align: left;
	background-image: url(/home/aleisley/Documents/tuitt/capstone-1/assets/images/orange1.jpg);
	position: relative;
	height: 30%;
	width: 100%;
	background-position: center;
}*/

a > .img-gallery {
	height: 350px !important;
	width: 350px !important;
	margin: 1vh;
}

.mission {
	background-image: url(.../images/opm-hi.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.bg-about {
	background-color: black;
	height: 250px;
}

#vision {
	text-align: center;
}

#mission {
	text-align: center;
}

#vision-text {
	text-align: justify;
}

#mission-text {
	text-align: justify;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

/*End of gallery.html*/

#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

#myFooter .linkedin:hover{
	color: purple;
}

#myFooter .discord:hover{
	color: orange;
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


/*html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}*/

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 10vh;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
	.bgimg1 {
		height: 20%;
	}

	.parallax {
    	background-attachment: scroll;
    	background-attachment: fixed;
  	}

  	#onePunch {
  		left: 82vw;
  	}

  	.borders {
  		letter-spacing: 1vw;
  	}

  	.text-muted {
  		font-size: 5vw;
  	}

  	#map {
		order: 1;
	}

	#formz {
		order: 2;
	}

	#mission {
		order: 10;
	}

	#mission-text {
		order: 2;
	}

	#myFooter {
		text-align: center;
	}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.bgimg1 {
		height: 30%;
	}

	.parallax {
    	background-attachment: scroll;
    	background-attachment:fixed;
  	}

  	.borders {
		font-size: 1.5em;
		margin-bottom: 3vh;
	}

	#onePunch {
		left: 90vw;
	}

	#map {
		order: 1;
	}

	#formz {
		order: 2;
	}

	#mission {
		order: 10;
	}

	#mission-text {
		order: 2;
	}


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.bgimg1 {
		height: 45%;
	}

	.borders {
		padding: 30px;
		/*font-size: 1.5em;*/
		font-size: 3vw;
	}

	#onePunch {
		left:1.5vw;
	}

	.nav-item {
		border-left: 3px solid black;
		margin-left: 0;
		border-radius: 5px;
	}

	.ident {
		padding-right: 1.5vh;
	}

	#map {
		order: 2;
	}

	#formz {
		order: 1;
	}
}