* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

.navbar-custom {
	/*background-color: orange;*/
	color: white;
  	padding: 15px;
  	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  	/*filter: blur(10px);*/
}

.navbar {
	padding:0 !important;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg2 {
	background-image: url(assets/images/opm.png);
	height: 100%;
	z-index: -2;
}

.navbar a {
	font-size: 1.2em;
	color: white;
}

#homeIcon {
	color: lightgreen;
	margin-right: 1vh;
	margin-left: 1vh;
	display: inline-block;
}

#aboutIcon {
	color: lightblue;
	margin-right: 1vh;
	margin-left: 1vh;
}

#cameraIcon {
	color:grey;
	margin-right: 1vh;
	margin-left: 1vh;
}

#mailIcon {
	color: violet;
	margin-right: 1vh;
	margin-left: 1vh;
}

#onePunch {
	width: 6vh;
	height: auto;
	position: absolute;
	top: -0.8vh;
	z-index: 10;
}

.nav-pills {
	/*background-color: red !important*/
}

#rowCarousel {
	margin-top: 2vh;
}

.box {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}

.borders {
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: 30px;
	letter-spacing: 10px;
}

nav a:hover {
	background: lightgreen;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
	background-color: rgba(0,0,0,0.2);
}

.home_images {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-top: 5vh;
}

.footer-pro {
	background-color: lightgrey;
}

header {
	margin-bottom: 2vh;
}

@media (max-width: 991px) {
	.nav-item {
		border:none;
		/*margin-left: 2vh;*/
	}
	.parallax {
    background-attachment: scroll;
  	}

  	.bgimg1 {
	background-image: url(assets/images/opm.png);
	height: 20%;
	z-index: -2;
	position: relative;
	}

	.borders {
		font-size: 1.5em;
	}

	.navbar-nav {
		margin-top: 1vh;
	}

	.ident {
		display: inline-block;
	}

	#onePunch {
		left:85vw;
	}

	.navbar-custom {
		background-color: rgba(255,202,68,1);
	}
}

@media (min-width: 992px) {
	.nav-item {
		border-left: 3px solid black;
		margin-left: 0;
		border-radius: 5px;
	}

	.bgimg1 {
		background-image: url(../images/opm.png);
		height: 45%;
		z-index: -2;
		position: relative;
	}

	.borders {
		padding: 30px;
		font-size: 1.5em;
	}

	.ident {
		padding-right: 1.5vh;
		display: inline-block;
	}

	#onePunch {
		left:1.5vw;
	}

	.navbar-custom {
		background: linear-gradient(0deg,rgba(255,202,68,0.75)5%,rgba(255,202,68,1)90%,rgba(255,202,68,0.9)5%);
	}

}
